button{
    background-color: white;
    color: black;
    padding: 13.5px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: 4px;
    
}

.info{
    position: fixed;
    top: 22px;
    left: 1120px;
    width: 200px;
    height: 580px;
    background-color: Bisque;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border-style: groove;
}

.buttonpostion{
    position: fixed;
    top: 540px;
    left:1180;
}

img {
  border-radius: 50%;
}

h2{
  text-align: center;
}

.Calendar {
  font-family: sans-serif;
  text-align: center;
}
.week,
.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dayBlock {

}

.week > * {
  font-weight: bold;
  border: 2px solid black;
  background-color: #cccccc;
}
.day > * {
  background-color: white;
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

.event:hover {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;
}

#dayEvent {
  margin-top: 20px;
  margin-left: 45px;
  height: 20px;
  background-color: lightblue;
}
#addEvent {
  padding-bottom: 5px;
  position: fixed;
}

#dateBox {
  width: 129px;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.center {
  text-align: center;
}

.container{
  background-image: linear-gradient(lightblue, grey);
  width: 100%;
  height:100%;
 
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

.Syllendar{
  position: static;
  top: 0;
  left: 0;
  width:80%;
}
  
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
  background: rgba(238,113,71,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(238,113,71,1) 0%, 
      rgba(244,213,182,1) 100%
  );
  background: 
    -webkit-linear-gradient(
      left, 
      rgba(238,113,71,1) 0%, 
      rgba(244,213,182,1) 100%
  );
  margin: 0;
  pdading: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
  overflow: hidden;
}

#modal-button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -100px;
}

.button:hover ~ .inner-modal {
  animation: pulse .3s 2;
}

.button {
  font-family: 'quicksand';
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  text-align: left;
  height: 50px;
  width: 200px;
  background-color: rgba(0,0,0,.7);
  color: #f3ece2;
  border-radius: 3px;
  border: 0px none;
  padding: 0 auto;
  padding-left: 15px;
  font-size: 18px;
  transition: background-color .3s;
  outline: 0 none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0,0,0,.8);
}

.inner-modal {
  position: absolute;
  z-index: 4000;
  margin-top: -32px;
  margin-left: 170px;
  z-index: 3000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f3ece2;
  -webkit-transition: 
    all 350ms cubic-bezier(
      0.680, 
      -0.550, 
      0.265, 
      1.18
  );  
}

.inner-modal-open {
  position: absolute;
  height: 800%;
  width: 300%;
  border-radius: 3px;
  margin-top: -110%;
  margin-left: -100%;
  -webkit-box-shadow: 
    10px 10px 10px -8px rgba(0,0,0,0.3);
  -webkit-transition: 
    all 300ms cubic-bezier(
      0.680, 
      -0.165, 
      0.265, 
      1.55
  ); 
}

.content-wrapper {
  padding: 20px;
  text-align: center;
  visibility: visible;
  opacity: 0;
  -webkit-transition: all .2s;
}

.content-open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s ease-out 350ms;
}

.fa-times-circle {
  z-index: 4000;
  font-size: 35px;
  color: #2c3e32;
  float: right;
  transition: opacity .3s;
  cursor: pointer;
}

.fa-times-circle:hover {
  animation: pulse2 .3s 2;
}

.modal-content {
  margin-top: 165px;
  font-size: 20px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  35% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@keyframes pulse2 {
  0% { transform: scale(1); }
  35% { transform: scale(1.1); }
  100% { transform: scale(1); }
}